@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;1,300;1,400&display=swap');

body {
  font-family: "Roboto", sans-serif;
  text-align: center;
  background-color: #240046;
  margin-left: 20px;
  margin-right: 20px;
  color: #fff;
}

table {
  width: 100%;
  min-width: 400px;
  margin: 30px auto 0 auto;
}

h3 {
  margin: 5px;
}

img {
  border-radius: 50%;
  width: 50px;
  margin: 5px 0 0 0;
  border: 3px solid #ff9e00;
}

td.details-control {
  background: url('https://www.datatables.net/examples/resources/details_open.png') no-repeat center center;
  cursor: pointer;
}
tr.shown td.details-control {
  background: url('https://www.datatables.net/examples/resources/details_close.png') no-repeat center center;
}.dataTables_filter, .dataTables_info { display: none; } a.paginate_button.next  {
  margin: 5px;
  display: none;
  border: none;
  padding: 2px 6px;
  cursor: pointer;
  background-color: #ff9e00;
  color: #240046;
  font-weight: 500;
  font-size: 14px;
  border-radius: 3px;
}
a.paginate_button.next:hover{background-color: #ff8500;}
a.paginate_button.previous  {
  margin: 5px;
  display: none;
  border: none;
  padding: 2px 6px;
  cursor: pointer;
  background-color: #ff9e00;
  color: #240046;
  font-weight: 500;
  font-size: 14px;
  border-radius: 3px;}
  a.paginate_button.previous:hover{
    background-color: #ff8500;
  }
img:hover {
  border: 3px solid #ff6d00;
}

h1 {
  color: white;
  margin-bottom: 15px;
}

p {
  margin: 0;
}

th {
  border: none;
  background-color: #5a189a;
  color: white;
  text-transform: uppercase;
  padding: 10px;
}

tr,
td {
  border: none;
  background-color: #3c096c;
}

#winner {
  color: #fff;
  padding: 15px;
  margin-top: 15px;
}
button {
  margin: 5px;
  border: none;
  padding: 12px 16px;
  cursor: pointer;
  background-color: #ff9e00;
  color: #240046;
  font-weight: 500;
  font-size: 16px;
  font-family: "Rubik", sans-serif;
  border-radius: 5px;
}

button:hover {
  background-color: #ff8500;
}
.dataTables_paginate {
  margin-top: 20px;
}
input {
  background-color: #fff;
  border: none;
  padding: 12px;
  color: #240046;
  border-radius: 5px;
  font-weight: 500;
  font-size: 16px;
  font-family: "Rubik", sans-serif;
  margin-bottom: 15px;
}
@keyframes spinner {
  to {transform: rotate(360deg);}
}
 
.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #ccc;
  border-top-color: #333;
  animation: spinner .6s linear infinite;
}

.page-item.active .page-link {
  background-color: lightgrey !important;
  border: 1px solid white;
  margin: 2px;
  cursor: pointer;
  
}

.paginate_button {
  margin: 5px;
  cursor: pointer;
}
.page-link {
  color: black !important;
}

.form {
  margin-top: 40px;
}
.r1 {
  font-size: 121%;
}
.disabled {
  border: 1px solid #5a189a;
}
.btn-disabled {
  background-color: #5a189a;
  cursor: default;
}
.btn-disabled:hover {
  background-color: #5a189a;
  cursor: default;
}
.alert {
  color: #ff9e00;
  font-size: 14px;
}
