@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;1,300;1,400&display=swap');

body {
  font-family: "Roboto", sans-serif;
  text-align: center;
  background-color: #240046;
  margin-left: 20px;
  
  margin-right: 20px;
  color: #fff;
}
::-webkit-scrollbar {
    display: none;
}

table {
  width: 100%;
  min-width: 400px;
  margin: 30px auto 0 auto;
}

h3 {
  margin: 5px;
}


.toggleSwitch span span {
  display: none;
}

@media only screen {
  .toggleSwitch {
    display: inline-block;
    height: 18px;
    position: relative;
    overflow: visible;
    padding: 0;
    margin-left: 50px;
    cursor: pointer;
    width: 40px
  }
  .toggleSwitch * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .toggleSwitch label,
  .toggleSwitch > span {
    line-height: 20px;
    height: 20px;
    vertical-align: middle;
  }
  .toggleSwitch input:focus ~ a,
  .toggleSwitch input:focus + label {
    outline: none;
  }
  .toggleSwitch label {
    position: relative;
    z-index: 3;
    display: block;
    width: 100%;
  }
  .toggleSwitch input {
    position: absolute;
    opacity: 0;
    z-index: 5;
  }
  .toggleSwitch > span {
    position: absolute;
    left: -50px;
    width: 100%;
    margin: 0;
    padding-right: 50px;
    text-align: left;
    white-space: nowrap;
  }
  .toggleSwitch > span span {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    display: block;
    width: 50%;
    margin-left: 50px;
    text-align: left;
    font-size: 0.9em;
    width: 100%;
    left: 15%;
    top: -1px;
    opacity: 0;
  }
  .toggleSwitch a {
    position: absolute;
    right: 50%;
    z-index: 4;
    display: block;
    height: 100%;
    padding: 0;
    left: 2px;
    width: 18px;
    background-color: #fff;
    border: 1px solid #CCC;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  }
  .toggleSwitch > span span:first-of-type {
    color: #ccc;
    opacity: 1;
    left: 45%;
  }
  .toggleSwitch > span:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50px;
    top: -2px;
    background-color: #fafafa;
    border: 1px solid #ccc;
    border-radius: 30px;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }
  .toggleSwitch input:checked ~ a {
    border-color: #fff;
    left: 100%;
    margin-left: -8px;
  }
  .toggleSwitch input:checked ~ span:before {
    border-color: #0097D1;
    box-shadow: inset 0 0 0 30px #0097D1;
  }
  .toggleSwitch input:checked ~ span span:first-of-type {
    opacity: 0;
  }
  .toggleSwitch input:checked ~ span span:last-of-type {
    opacity: 1;
    color: #fff;
  }
  /* Switch Sizes */
  .toggleSwitch.large {
    width: 60px;
    height: 27px;
  }
  .toggleSwitch.large a {
    width: 27px;
  }
  .toggleSwitch.large > span {
    height: 29px;
    line-height: 28px;
  }
  .toggleSwitch.large input:checked ~ a {
    left: 41px;
  }
  .toggleSwitch.large > span span {
    font-size: 1.1em;
  }
  .toggleSwitch.large > span span:first-of-type {
    left: 50%;
  }
}

img {
  border-radius: 50%;
  width: 50px;
  margin: 5px 0 0 0;
  border: 3px solid #ff9e00;
}

td.details-control {
  background: url('https://www.datatables.net/examples/resources/details_open.png') no-repeat center center;
  cursor: pointer;
}
tr.shown td.details-control {
  background: url('https://www.datatables.net/examples/resources/details_close.png') no-repeat center center;
}.dataTables_filter, .dataTables_info { display: none; } a.paginate_button.next  {
  margin: 5px;
  display: none;
  border: none;
  padding: 2px 6px;
  cursor: pointer;
  background-color: #ff9e00;
  color: #240046;
  font-weight: 500;
  font-size: 14px;
  border-radius: 3px;
}
a.paginate_button.next:hover{background-color: #ff8500;}
a.paginate_button.previous  {
  margin: 5px;
  display: none;
  border: none;
  padding: 2px 6px;
  cursor: pointer;
  background-color: #ff9e00;
  color: #240046;
  font-weight: 500;
  font-size: 14px;
  border-radius: 3px;}
  .bgraphButton{
    margin: 5px;
    border: none;
    padding: 8px 8px;
    cursor: pointer;
    background-color: #ff9e00;
    color: #240046;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    border-radius: 5px;
    position: absolute;
    margin-top: -28px;
    margin-left: 256px;
}
div.slider {
  display: none;
}

table.dataTable tbody td.no-padding {
  padding: 0;
}
  a.paginate_button.previous:hover{
    background-color: #ff8500;
  }
img:hover {
  border: 3px solid #ff6d00;
}

h1 {
  color: white;
  margin-bottom: 15px;
}

p {
  margin: 0;
}

th {
  border: none;
  background-color: #5a189a;
  color: white;
  text-transform: uppercase;
  padding: 10px;
}

tr,
td {
  border: none;
  background-color: #3c096c;
}

#winner {
  color: #fff;
  padding: 15px;
  margin-top: 15px;
}
button {
  margin: 5px;
  border: none;
  padding: 12px 16px;
  cursor: pointer;
  background-color: #ff9e00;
  color: #240046;
  font-weight: 500;
  font-size: 16px;
  font-family: "Rubik", sans-serif;
  border-radius: 5px;
}

button:hover {
  background-color: #ff8500;
}
.dataTables_paginate {
  margin-top: 20px;
}
input {
  background-color: #fff;
  border: none;
  padding: 12px;
  color: #240046;
  border-radius: 5px;
  font-weight: 500;
  font-size: 16px;
  font-family: "Rubik", sans-serif;
  margin-bottom: 15px;
}
@keyframes spinner {
  to {transform: rotate(360deg);}
}
 
.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #ccc;
  border-top-color: #333;
  animation: spinner .6s linear infinite;
}
.backButton {
  margin: 5px;
    border: none;
    padding: 12px 16px;
    cursor: pointer;
    background-color: #ff9e00;
    color: #240046;
    font-weight: 500;
    font-size: 16px;
    font-family: "Rubik", sans-serif;
    border-radius: 5px;
    margin-left: -339px;
}

.page-item.active .page-link {
  background-color: lightgrey !important;
  border: 1px solid white;
  margin: 2px;
  cursor: pointer;
  
}

.paginate_button {
  margin: 5px;
  cursor: pointer;
}
.page-link {
  color: black !important;
}

.form {
  margin-top: 40px;
}
.r1 {
  font-size: 121%;
}
.disabled {
  border: 1px solid #5a189a;
}
.btn-disabled {
  background-color: #5a189a;
  cursor: default;
}
.btn-disabled:hover {
  background-color: #5a189a;
  cursor: default;
}
.alert {
  color: #ff9e00;
  font-size: 14px;
}
